#cart {
  max-width: 1440px;
  padding-top: 60px;
  margin: auto;
}
.form div {
  margin-bottom: 0.4em;
}
.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.cartItem img {
  width: 80px;
  height: auto;
  border-radius: 5px;
}
.cartItem h6 {
  margin-bottom: 5px;
}
.cartItem p {
  margin: 0;
}
.cartItemQuantity {
  width: 50px;
  text-align: center;
}
.proceed {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
}
#btn-checkout {
  width: 100%;
  padding: 10px;
  background-color: #111;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
#btn-checkout:hover {
  background-color: #c41505;
}

