@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf');
  }
  
  @font-face {
    font-family: Lora;
    src: url('../fonts/Lora-Regular.ttf');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home-header {
    background-color: #1B4332;
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 65px;
  }
  
  .home-header .order-now-section button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 11px;
    transition: all 0.15s;
    max-width: 115px;
    font-size: 13px;
    margin-left: 45px;
    font-family: 'Raleway';
  }
  
  .home-header .order-now-section button:hover {
    transform: translateY(-1.5px);
    font-weight: 700;
    cursor: pointer;
    /* TODO: change color when needed */
  }
  
  .home-header .free-shipping-section {
    font-weight: bold;
    font-size: 14px;
    font-family: Raleway, sans-serif;
    word-spacing: 2px;
  }
  
  .home-header .search-here-section input {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 10px;
    max-width: 150px;
  }
  
  .home-header .search-here-section {
    margin-right: 45px;
  }
  
  .home-header .search-here-section input::placeholder {
    color: white;
  }
  
  .home-header .search-here-section {
    display: flex;
    flex-direction: row;
  }
  
  .home-header .search-here-section i {
    background-color: transparent;
    padding: 8px;
    border: 1px solid white;
    border-left-style: none;
  }