@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: Lora-Bold;
  src: url('../fonts/Lora-Bold.ttf');
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 1;
  background-color: #FAF7F0;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 0 45px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-container .nav-bar-left ul, .nav-bar-right ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 30px;
}

.nav-container .nav-bar-left ul li,
.nav-bar-right ul li {
  list-style-type: none;
  font-size: 14px;
}

.nav-container .nav-bar-left a,
.nav-bar-right a {
  text-decoration: none;
  transition: all 0.15s;
  font-family: Raleway, sans-serif;
  color: black;
}

.nav-container .nav-bar-left a:hover,
.nav-bar-right a:hover {
  transform: translateY(-1.5px);
  text-decoration: underline;
}

.nav-bar-logo p{
  font-size: 1.5rem;
  font-weight: 550;
}

.logo-boutique {
  font-family: Lora-Bold, serif;
  font-style: italic;
  font-weight: 550;
}