@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: Lora;
  src: url('../fonts/Lora-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.home-content {
  max-width: 2000px;
  text-align: left;
  width: 75rem;

}

.home-content .small-text {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Raleway';
  margin-bottom: 13px;

}

.home-content h1 {
  font-weight: bold;
  margin: 10px 0;
  font-size: 37px;
  color: white;
  font-family: 'Lora';
  margin-bottom: 16px;
  letter-spacing: 1px;
}

.home-content p {
  font-size: 15px;
  font-family: 'Raleway';
  margin-bottom: 16px;
}

.home-content .btn {
  display: inline-block;
  padding: 14px 20px;
  font-family: 'Raleway';
  font-size: 14px;
  padding: 14px 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.home-content .btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background: #1b3d2f;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.home-content .btn:hover {
  color: #fff; 
  border-color: white;
  transform: scale(1.05);
}

.home-content .btn:hover::before {
  width: 250%;
  height: 250%;
  top: 50%;
  left: 50%;
  border-radius: 0;
}

.home-content .btn span {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .content {
      text-align: center;
      padding: 20px;
  }

  h1 {
      font-size: 28px;
  }

  p {
      font-size: 14px;
  }
}

.bean-header,
.bean-header-2 {
  text-align: center;
  margin-top: 20px;
}

.bean-header {
  font-family: Raleway, sans-serif;
  margin-top: 60px;
  color: #275F47;
  font-size: 19px;
}

.bean-header-2 {
  font-family: Lora, sans-serif;
  font-size: 32px;
}

.bean-container {
  display: flex;
  margin-top: 70px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bean-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.bean-img img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.bean-title {
  font-family: Lora, sans-serif;
  margin-top: 10px;
}

.bean-text {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  margin-top: 10px;
}

.bean-title,
.bean-text {
  text-align: center;
  width: 400px;
}

@media (max-width: 1024px) {
  .bean-header {
    font-size: 17px;
  }

  .bean-header-2 {
    font-size: 28px;
  }

  .bean-container {
    justify-content: space-around;
  }

  .bean-card {
    width: 200px;
  }

  .bean-img img {
    width: 180px;
  }

  .bean-title {
    font-size: 18px;
  }

  .bean-text {
    font-size: 12px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bean-header {
    font-size: 16px;
  }

  .bean-header-2 {
    font-size: 26px;
  }

  .bean-container {
    flex-direction: column;
    align-items: center;
  }

  .bean-card {
    width: 90%;
    max-width: 300px;
  }

  .bean-img img {
    width: 160px;
  }

  .bean-title {
    font-size: 16px;
  }

  .bean-text {
    font-size: 12px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .bean-header {
    font-size: 14px;
  }

  .bean-header-2 {
    font-size: 22px;
  }

  .bean-container {
    flex-direction: column;
    align-items: center;
  }

  .bean-card {
    width: 100%;
    max-width: 280px;
  }

  .bean-img img {
    width: 140px;
  }

  .bean-title {
    font-size: 15px;
  }

  .bean-text {
    font-size: 11px;
  }
}

.service-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 95px;
}

.service-card {
  position: relative;
}

.service-img {
  width: 340px;
  height: 400px;
}

.service-img:hover {
  cursor: pointer;
}

.service-btn {
  position: absolute;
  left: 30%;
  bottom: 24px;
  height: auto;
  width: 148px;
  padding: 14px 10px;
  border-radius: 3px;
  font-family: Raleway, sans-serif;
  color: white;
  background-color: transparent;
  border: 0.5px white solid;
  transition: all 0.15s;
}

.pop-title {
  margin-top: 100px;
  margin-left: 145px;
  font-family: 'Lora';
  font-size: 30px;
}

.pop-text {
  font-family: 'Raleway';
  margin-left: 145px;
  margin-top: 10px;
  font-size: 14px;
}

.explore-products-btn {
  margin-left: 145px;
  background: transparent;
  border: 1px black solid;
  padding: 12px 16px;
  border-radius: 5px;
  font-family: 'Raleway';
  margin-top: 33px;
  transition: background-color 0.3s, color 0.3s;
}

.explore-products-btn:hover {
  transform: scale(1.05);
  background-color:#1B4332;
  color: #fff;
  cursor: pointer;
}

.service-btn:hover {
  transform: scale(1.1);
  font-weight: 700;
  cursor: pointer;
}

.popular-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 45px 0;

}

.popular-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 30px;
  margin-inline: 23px;
  justify-content: space-evenly;
  background-color: #FAF7F0;
}

.popular-img {
  width: 360px;
  height: 320px;
}

.popular-title {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lora';
}

.popular-price {
  font-family: 'Raleway';
  font-weight: bold;
}

.popular-price-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 125px;
  border: 1px solid black;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  width: 100%;
  align-items: center;
  height: 50px;
}

.popular-btn {
  color: white;
  background-color: #1B4332;
  border-radius: 5px;
  padding: 4px 15px;
}

.popular-btn:hover {
  background-color: #275F47;
  cursor: pointer;
}

.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 3rem;
  margin-top: 8%;
  margin-bottom: 6%;
}

.sub-img img {
  width: 350px;
  height: 430px;
  border-radius: 10px;
}

.sub-text {
  margin-top: 6%;
}

.sub-text h5 {
  font-family: 'Raleway';
  margin-bottom: 17px;
  font-size: 14px;
}

.sub-text h2 {
  font-family: 'Lora';
  font-size: 34px;
  margin-bottom: 18px;
}

.sub-text p {
  font-family: 'Raleway';
  margin-bottom: 37px;
  font-size: 15px;
}

.sub-btn {
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  width: 160px;
  font-family: 'raleway';
  font-size: 13px;
  cursor: pointer;
}

.sub-btn a{
  text-decoration: none;
  color: #333;
}

.sub-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B4332;
  transition: all 1s;
  z-index: -1;
  transform: translateX(-100%);
}

.sub-btn:hover::before {
  transform: translateX(0);
}
.sub-btn a:hover {
  color: #fff;
}

.team {
  position: relative;
  width: 100%;
  height: 85vh;
  background-color: #FAF7F0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 7%;
}

.team-content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 0.3rem;
  text-align: center;
  margin-top: 2.5rem;
}

.team-content img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.center h2 {
  font-family: 'Lora';
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}

.box {
  padding: 16px;
  border-radius: 15px;
  transition: all .38s ease;
}

.box h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
  font-family: 'Raleway';
}

.box h5 {
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.icons i {
  display: inline-block;
  font-size: 20px;
  margin: 0 8px;
  transition: all .38s ease;
  color: #1B4332;
}

.icons i:hover {
  transform: scale(1.2);
}

.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

@media(max-width: 1240px) {
  .team {
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }

  .center h1 {
    font-size: 3.2rem;
  }

  .bean-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bean-img img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
}

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 14px;
  margin-bottom: 100px;
}

.review-img img {
  width: 260px;
  height: 380px;
  border-radius: 15px;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 247, 240);
  width: 600px;
  border-radius: 15px;
}

.review-star {
  color: #FFC145;
  margin-bottom: 30px;
  font-size: 23px;
}

.review-title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
  font-family: 'Lora';
}

.review-text{
  font-family: 'Raleway';
  text-align: center;
  font-size: 20px;
}

.review-slide-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

.review-person-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
}

.review-person {
  font-size: 17px;
  font-weight: bold;
}

.review-counter {
  font-size: 11px;
}

.left-arrow, .right-arrow {
  font-weight:bolder;
  font-size: large;
}

.left-arrow:hover,
.right-arrow:hover {
  cursor: pointer;
  color:#275F47;
}

.workshops-events {
  margin: 5rem 1rem;
  padding: 1rem;
  display: flex;
}

.content {
  text-align: left;
  margin-right: 2rem;
  align-content: center;
  width: 1500px;
}

.content h2 {
  font-size: 29px;
  font-family: 'Lora';
  font-weight: bold;
  margin-bottom: 1rem;
}

.content p {
  font-size: 15px;
  font-family: 'Raleway';
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.explore-btn {
  font-family: 'Raleway';
  display: inline-block;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  padding: 0.8rem 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.explore-btn:hover {
  transform: scale(1.05);
  background-color:#1B4332;
  color: #fff;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.7rem;
  max-width: 60rem;
  max-height: 25rem;
}

.event-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-card img {
  width: 100%;
  height: 100%;
  display: block;
}

.event-card .event-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.7rem;
  text-align: left;
}

.event-card h3 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  font-family: 'raleway';
}

.event-card p {
  margin: 0.5rem 0 0;
  font-size: 13px;
  font-family: 'raleway';
}

.card-large {
  grid-column: span 2;
  grid-row: span 2;
}

.card-large h3{
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'raleway';
}

.card-large p{
  font-size: 15px;
  font-family: 'raleway';
}

.card-large img {
  height: 100%;
  object-fit: cover;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.event-card:hover img {
  filter: brightness(0.8);
}

@media (max-width: 1024px) {
  .events-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-large {
    grid-column: span 2;
    grid-row: auto;
  }
}

@media (max-width: 768px) {
  .events-grid {
    grid-template-columns: 1fr;
  }

  .card-large {
    grid-column: span 1;
    grid-row: auto;
  }
}

.cart-icon {
  position: relative;
  cursor: pointer;
  font-size: 24px;
}

.cart-count {
  background: #275F47;
  color: white;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
}
